*{
  box-sizing: border-box;
  margin: 0;
}

/* :root {
  --primary-color:#;
  --secondary-color:#;
} */
/* header{ */
  /* background:var(primary-color); */
  .page{
    margin:0;
  }
.page__inner{
  padding: 0 15px;
}
.header{
  background-color: lightgrey;
  position: relative;
  display: flex;
  justify-content: center;
}
.burger{
  height: 30px;
  width:30px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  }
.burger__line{
  position: absolute;
  height: 4px;
  background: black;
  width: 100%;
  border-radius: 20px;
}
.burger__line--two{
  top:50%;
  transform: translateY(-50%);
}
.burger__line--three{
  bottom: 0;
}
.burger:hover{
  cursor: pointer;
}
.burger:hover .burger__line--two{
  opacity: 0;
  transition: 0.5s;
}
.burger:hover .burger__line--one{
  transform: rotate(-45deg);
  top:50%;
  transition: 0.5s;
}
.burger:hover .burger__line--three{
  transform: rotate(45deg);
  top: 50%;
  transition: 0.5s;
}

/* sidebar */

.sidebar{
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: black;
  width: 100%;
  display: none;
}
.sidebar--lower{
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  width: 20vw;
}
.sidebar__li{
  border-bottom: 1px solid black;
  width: 100%;
  padding: 15px;
}
.sidebar__li--style{
  text-decoration: none;
  color: black;
}
.sidebar__li:hover{
  background: black;
}
.sidebar__li:hover .sidebar__li--style{
  color:white;
}
.innerSidebar{
  margin: 20px 0;
  list-style-type: none;
  display: none;
}
.innerSidebar__li{
  padding: 15px;
}
.innerSidebar__li--style{
  color: darkgrey;
  text-decoration: none;
  padding: 5px 30px;
  transition: 0.3s;
}
.innerSidebar__li--style:hover{
  color: white;
  box-shadow: 0 0 3px grey;
  border-radius: 30px;
}

/* Sidebar end */

/* header end */

/* HERO */
.section{
  margin-top: 50px;
}
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero__image{
  width: 80px;
}
.image--size{
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}
.text{
  line-height: 1.4em;
  text-align: center;
  margin: 20px 0;
}


/* hero end */

/* Stalai */
.section__title{
  text-align: center;
  margin: 15px 0;
}
.stalai__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stalai__photo{
  width:calc(50% - 8px);
  border: 3px solid black;
  margin: 5px 5px;
  height: 160px;
  position: relative;
}
.stalai__photo--even{
  margin-right: 0;
}
.stalai__image--size{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stalai__photo{
  overflow: hidden;
}
.filter{
  top: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255,234,94,1) 0%, rgba(230,161,41,0.66) 100%);
  position: absolute;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__choose{
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  border:1px solid white;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.filter__choose:hover{
  background-color: white;
  color:inherit;
}
.stalai__photo:hover .filter{
  top:0;
}
/* end Stalai */


/* kedes */
.kede__container{
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding: 0 0 20px 0;
  text-align: center;
}
.kede__photo{
  border: 1px solid black;
  height: 70vh;
}
.kede__photo--size{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.kedes__title{
  margin: 15px 0;
}
.button{
  border: 1px solid orange;
  border-radius: 15px / 50%;
  margin: 16px 0;
  padding: 10px;
}
.button:hover{
  cursor: pointer;
}
.button--nostyle{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

/* end kedes */
/* form */

.form__input{
  width: 100%;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 5px 0 15px 0;
  outline: none;
}
.form__input:focus:invalid{
  border-color: red;
}
.form__input:focus:valid{
  border-color: green;
}
.form__button--width{
  width: 100%;
  background-color: white;
  margin:0px;
}
.form__label--span{
  margin:10px;
  font-weight: bold;
}
.button:hover{
  background-color: orange;
}
.button:hover .button--nostyle{
  color: white;
}
.form__button--width:hover{
  color: white;
}
/* end of form */
/* fixed button */

.main__fixed{
  position: fixed;
  bottom: 0;
  right: 25px;
  display: none;
  transition: 0.4s;
}
.main__fixed--button{
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px 30px 0 0;
  background: green;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.main__fixed:hover{
  transform: translateY(-20px);
  border-radius: 15px;
}
.main__fixed--button:hover{
  border-radius: 15px / 50%;
}

/* fixed button end */

/* foooter */
.footer__title{
  padding: 20px 0;
  font-weight: 400;
  color: grey;
}
/* end of footer */
@media (min-width: 769px) {
  .page{
    display: flex;
  }
  .header{
    width: 20vw;
    flex-shrink: 0;
    padding:20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    /* position: relative; */
  }
  .nav{
    position: sticky;
    top:0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .page__inner--header{
    padding: 0;
  }
  .header__main{
    flex-direction: column;
    align-items: center;
  }
  .header__logo--image{
    width: 80px;
  }
  .hero__image{
    width: 100px;
  }
  .burger{
    display:none;
  }
  .page__inner{
    padding: 0 25px;
  }
  .innerSidebar{
    display: block;
  }
  .sidebar{
    display: block;
  }
  .main__fixed{
    display: block;
    z-index: 1;
  }
  .stalai__container{
    display: flex;
    flex-wrap: wrap;
  }
  .stalai__photo{
    height: 260px;
  }
  .stalai__photo--odd{
    flex: 1 1 25%;
    margin: 5px 5px 0 0;
  }
  .stalai__photo--even{
    flex: 2 1 25%;
    margin: 5px 0px 0 0;
  }
  .stalai__photo--big{
    flex: 2 1 50%;
    margin: 5px 5px 0 0;
  }
  .stalai__photo--big{
    margin-right: 0;
  }
  .stalai__photo--margin{
    margin-right: 5px;
  }
  .kedes__gallery{
    margin-top:30px;
    display:flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .kede__container{
    box-shadow: 0 0 6px grey;
    margin: 0 -200px 0 0;
    background-color: white;
    border: none;
    padding: 10px;
    transition: 0.4s;
    border-radius: 30px;
    transform: translateY(0);
  }
  .kede__photo{
    height: 40vh;
  }
  .kede__container:hover{
    margin: 0 20px 0 0;
    transform: translateY(-5%);
  }
  .page__inner--form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form{
    width: 40%;
  }
}
