.whole{
  text-align: center;
  height: 100vh;
}
main{
  vertical-align: top;
  height: 55vh;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;*/
}
header, footer{
  border: 1px solid black;
  height: 13%;
  margin: 15px;
}
section{
  width: 65%;
}
nav, aside{
  width: 15%;
}
section, aside, nav{
  display: inline-block;
  vertical-align: top;
  height: 80%;
  border-radius: 10px;
  border: 3px solid black;
  margin: 5px;
}
article{
  border: 1px solid black;
  height: 45%;
  margin-left:15px;
  margin-right: 15px;
  padding: 10px;
}
.whole>header{
  height: 10vh;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.whole>footer{
  height: 10vh;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
