*{
  margin: 0px;
  font-size: 0;
  box-sizing: border-box;
}
.container{
  text-align: center;
}
header{
  border: 10px solid black;
  padding: 5px;
}
nav{
  border: 10px solid black;
  border-top: none;
  padding: 5px;
}
main{
  border: 10px solid black;
  border-top: none;
}
.left{
  border-right: 10px solid black;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
section{
  height: 150px;
  border-bottom: 10px solid black;
}
article{
  height: 150px;
}
.right{
  height: 300px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
footer{
  border: 10px solid black;
  border-top: none;
  padding: 5px;

}
h3{
  font-size: 25px;
  margin: 0px;
}
